/* ===========================
 * Typography
 * =========================== */
$font_size: 16;


/* ===========================
 * Grid
 * =========================== */
$container-width: containerwidthpx;
$total-columns: columnstotal;
$column-width: columnwidthpx;
$gutter-width: gutterwidthpx;
$grid-padding: 10px;
$gutter-ratio: gutterratio;
$margin: 16;

/**
 * Responsive breakpoints
 * */
$container: max-width maxwidthpx;
$max-width-single-column: 640;
$container_ipadTo960: 768px maxwidthpx1;
$container_largerPhones: 640px 767px;
$container_small: 0 639px;


/**
 * Grid Sizes
 * */
$_960Grid: (columns: 3, gutters: 1/15, column-width: 300px, math: fluid);
$_768Grid: (columns: 2, gutters: 1/15, column-width: 300px, math: fluid);
