/**
 * @file styles.scss
 *
 * Main stylesheet.
 * */

/**
 * Import external libraries.
 * */
// @import 'compass';
@import 'susy';
@import 'breakpoint';
@import 'h5bp';

/**
 * import config.
 * */
@import 'config/variables',
        'config/colours',
        'config/mixins',
        'config/grid',
        'config/fonts',
        'config/modifiers',
        'config/typography';

@include h5bp-normalize;
@include h5bp-base-styles;
@include h5bp-helpers;
@include h5bp-media;

/**
 * Blocks.
 * */

/**
 * Plugins.
 * */

/**
 * Pages.
 * */

/**
 * Element overrides.
 * */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/**
 * Generic breakpoint.
 * */
@include breakpoint($container) {
    img {
        max-width: 100%;
        height: auto;
    }
}
